.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  background: #000;
  padding: 60px;
  overflow: hidden;
}

/* Partie gauche */
.hero-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 50%;
}

.hero-location {
  font-size: 16px;
  color: #aaa;
  margin: 0;
}

.hero-title {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.hero-tags {
  display: flex;
  gap: 12px;
}

.tag {
  background: #ffcc00;
  color: black;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 14px;
}

.hero-buttons {
  display: flex;
  gap: 12px;
}

.btn {
  background: #222;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn:hover {
  background: #333;
}

/* Partie droite */
.hero-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.hero-image img {
  height: 100%;
  object-fit: cover;
  float: right;
}

/* Dégradé noir à gauche */
.hero-image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;
  background: linear-gradient(to right, #000, transparent);
  z-index: 1;
}


/* Reset */
* { box-sizing: border-box; }
html, body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text);
    font-family: 'Montserrat', system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
}
a { color: var(--secondary); text-decoration: none; }
a:hover { text-decoration: underline; }

/* Logo */
.logo-img {
    max-height: 50px;
    width: auto;
    object-fit: contain;
    border-radius: 10px;
}

/* Bloc logo + texte */
.brand {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.brand-text h1 {
    font-size: 1.2rem;
    margin: 0;
    color: var(--text);
}
.brand-text p {
    font-size: 0.8rem;
    margin: 0;
    color: var(--muted);
}

/* Header */
.topbar {
    background-color: #1e1e1e;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #010101;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 70px; /* barre compacte */
}
.topbar nav a {
    color: #b0b0b0;
    margin-left: 1rem;
    text-decoration: none;
    transition: color 0.3s;
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
}
.topbar nav a.active,
.topbar nav a:hover {
    color: #00bcd4;
    background: var(--card);
}
